<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= pages %>, 
          <%= number %>, 
          <%= addition %>
        </div>
      </div>
    </div>
  </body>
</html>
